<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <form
      action="/users/<%= user._id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        type="text"
        name="username"
        id="username"
        value="<%= user.username %>"
        placeholder="your name"
      />
      <!-- <input
        type="text"
        name="about"
        id="about"
        value="  user.about "
        placeholder="about you"
      /> -->
      <textarea
        name="about"
        placeholder="About me"
        id="about"
        rows="4"
        required
      >
<%= user.about %></textarea
      >

      <input type="file" name="image" />
      <button type="submit">Save</button>
    </form>
    <img src="/uploads/<%= user.image %>" alt="" />
  </body>
</html>
